:root {
  --primary: #f47322;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 13px 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  /* or 164% */

  color: #000;
}

.button-primary {
  background-color: var(--primary);
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-form {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px;
}

.search-buttton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
}
.auth {
  margin-left: auto;
  display: flex;
}

.login {
  display: block;
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  text-decoration: none;
  color: #000;
}

.shopping-cart {
  position: relative;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f66a15;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px; /*в гугл хром нужен*/
  height: 18px;
  text-align: center;
  background: #ffaf19;
  font-size: 8px;
  /* line-height: 9;  не работает в гугл хром*/
  color: #000;
  display: block;
  padding: 5px;
  border-radius: 50%;
}

/* .slider {
  width: 100%;
  min-height: 400px;
} */

.slider-card {
  padding: 30px;
  position: relative;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  z-index: -2;
  padding-bottom: 50px;
}

.slider-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}

.slider-card-1 {
  background: url(../img/main/main-bg-1.png) no-repeat center / cover;
}

.slider-card-2 {
  background: url(../img/main/main-bg-2.png) no-repeat center / cover;
}

.slider-card-3 {
  background: url(../img/main/main-bg-3.png) no-repeat center / cover;
}

.slider-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  max-width: 470px;
}

.slider-description {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  max-width: 388px;
}

.small-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -20px;
}

.small-card {
  flex: 50%;
  margin: 20px;
  margin-bottom: 0;
  max-width: 570px;
  /* height: 380px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  padding: 32px;
  border-radius: 20px;
  overflow: hidden;
}

.small-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  z-index: -1;
}

.small-card-1 {
  background: url(../img/small-card-1.png) no-repeat center / cover;
}

.small-card-2 {
  background: url(../img/small-card-2.png) no-repeat center / cover;
}
.small-card-footer {
  margin-top: 70px;
}

.small-card-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 22px;
}

.small-card-subtitle {
  display: block;
  max-width: 168px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.small-card-price {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  display: block;
}

.small-card-delivery {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  color: #ffffff;
  margin-bottom: 25px;
}

.small-card-button {
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */

  color: #5f5f61;
  border: none;
  transition-duration: 1s;
}

.small-card-button:hover {
  border: 2px #5f5f61 solid;
}

.section {
  padding: 50px 0;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 50px;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-card {
  position: relative;
  width: 275px;
  height: 182px;
  overflow: hidden;
  border-radius: 18px;
  margin: 15px;
}

.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  padding: 5px 10px;
  border-radius: 30px;
}

.tag-1 {
  background: #d0fd89;
}

.tag-2 {
  background: #aebc41;
}

.tag-3 {
  background: #b86b78;
}

.tag-4 {
  background: #d68334;
}

.tag-5 {
  background: #cd6255;
}

.tag-6 {
  background: #fffdbf;
}

.tag-7 {
  background: #f6fdc8;
}

.tag-8 {
  background: #fef7fe;
}

.section-gray {
  background: #f6f6f6;
}

.categories-tabs {
  display: flex;
  margin: -10px;
  margin-bottom: 62px;
}

.categories-tab {
  margin: 10px;
}

.categories-link {
  font-size: 20px;
  line-height: 23px;

  color: #49494f;
}

.chosen {
  color: var(--primary);
}

.categories-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -18px;
  margin-bottom: 62px;
}

.categories-card {
  max-width: 270px;
  margin: 18px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.categories-image {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.categories-text {
  padding: 23px;
}

.categories-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* or 115% */

  color: #000000;
}

.catogories-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  /* or 164% */

  color: #b9b9be;
}

.categories-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-cost {
  display: inline-block;
}

.categories-price {
  display: block;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  /* or 100% */

  color: #4b4b51;
}

.categories-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  color: #aaaab1;
}

.categories-button {
  /* width: 125px; */
  height: 50px;
  text-align: center;
  border: 1px var(--primary) solid;
  color: var(--primary);
  padding: 18px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 30px;
  /* line-height: 19px; */
}

.categories-button-big {
  display: block;
  max-width: 310px;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition-duration: 1s;
}

.categories-button-big:hover {
  background-color: var(--primary);
  color: #fff;
}
.features {
  padding: 150px 0;
}

.features-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-card {
  flex: 25%;
  max-width: 270px;
  height: 290px;
  padding: 25px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  text-align: center;
}

.features-card:hover {
  cursor: pointer;
  background: var(--primary);
  color: #fff;
}

.features-card:hover .features-svg {
  fill: #fff;
  stroke: #fff;
}

.features-image {
  width: 60px;
  height: 60px;
  margin-bottom: 36px;
}

.features-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 188px;
  /* or 144% */
  color: #000000;
  margin: 0 auto;
  text-align: center;
}

.features-description {
  margin-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #49494f;
}

.footer {
  padding: 40px 0;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.footer-menu {
  display: flex;
  margin: -10px;
  margin-left: 50px;
}

.footer-item {
  margin: 10px;
}

.footer-link {
  text-decoration: underline;
  color: #000;
}
.social-links {
  margin: -10px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.social-link {
  width: 28px;
  height: 28px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
}

.swiper {
  position: relative;
}

.slider-buttons {
  display: flex;
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 9;
  margin: -10px;
}

.slider-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ebebeb;
  opacity: 0.78;
  margin: 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .delivery-card {
    width: 300px;
  }

  .categories-card {
    flex: 50%;
    max-width: calc(50% - 36px);
  }

  .features-cards {
    flex-wrap: wrap;
    margin: -5px;
  }

  .features-card {
    flex: 50%;
    max-width: calc(50% - 10px);
    margin: 5px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }

  .delivery-cards {
    flex-wrap: wrap;
  }
  .delivery-card {
    flex: 50%;
    max-width: calc(50% - 30px);
  }

  .features-card {
    flex: 50%;
    max-width: calc(50% - 10px);
    margin: 5px;
  }

  .small-cards {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  .small-card {
    flex: 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    overflow: hidden;
  }

  .delivery-card {
    flex: 100%;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .features-card {
    flex: 100%;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .categories-card {
    flex: 100%;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer-wrap {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header {
    flex-wrap: wrap;
  }

  .search-form {
    order: 5;
    margin: 10px 0;
  }
  .footer-menu {
    margin: 0;
  }
  .footer-link {
    font-size: 12px;
  }

  .social-links {
    margin: 0;
    order: 5;
  }

  .categories-link {
    font-size: 12px;
  }

  .auth {
    margin: 0;
  }

  .section-title {
    font-size: 20px;
    text-align: center;
  }

  .categories-tabs {
    margin: 0 auto 20px auto;
  }
}
